pkgbase = c3nob.c3i
	pkgdesc = A nob.h-like build system but in c3lang
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/roypery2010/c3nob.c3i
	arch = any
	license = Unlicense
	makedepends = git
	depends = c3c
	source = git+https://github.com/roypery2010/c3nob.c3i.git#branch=main
	sha256sums = SKIP

pkgname = c3nob.c3i
